#logo_header
{
    height: 80px;
}

.card-connect
{
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}

.map
{
    height:150px;
}

a.link_button:link 
{
    text-decoration:none;
    margin: auto 10px; 
}

.status
{
    align-content:center;
    color: white;
    padding:2.5px 30px;
    border-radius: 10px;
}