#logo_header
{
    height: 80px;
}

.card-connect
{
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}

.map
{
    width: 50%;
    height: 250px;
}

a.link_button:link 
{
    text-decoration:none;
    margin: auto 10px; 
}

.status
{
    align-content:center;
    color: white;
    padding:2.5px 30px;
    border-radius: 10px;
}

.table-menu
{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: stretch;
    align-content: stretch;
    width: 100%;
}